
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
// endinjector

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
}

body {
  background-size: cover;
  color: #999;
  font: 13px/1.231 Helvetica, Arial, sans-serif;
  *font-size:small;
  *font:x-small;
  line-height: 1em;
}
p {
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: .6px;
}
a {
  color: #999;
  &:hover {
    color: #ccc;
  }
}

header {
  width: 1024px;
  margin: 20px auto;
  img {

  }
}
