header
  h1
    img(src="/assets/images/logo.png" alt="Denny Cunningham :: Web Development :: Denver, Colorado")

  p In 2012 after 8 years of contracting I took a full-time job with Factory Design Labs. During the past three years I was privileged to work with wonderful people, on amazing projects, with an awesome company. However, recently, I once again was bitten by the entrepreneurial bug. A friend and I recently started a digital agency that occupies all of my time at the computer. Although I can't complain about being busy with our new venture, it unfortunately means I do not have time to work on my portfolio. As my business partner Chris Cruz likes to say, "It's like the cobbler who's kids have no shoes". While this phrase is the commonly used idiom, I feel it's a bit dated. So I'm going with, "The web developer too busy to work on their portfolio".
  p I can be reached by email at #[a(href="mailto:dennycunningham@gmail.com") dennycunningham@gmail.com]
